.section1
    text-align: center
    p 
        margin: 1em
        font-size: 16px
        border: 1px 
        border-radius: 15px
        padding: 10px
        background-color: #8fa0f54a
        width: 14em  
        
    span
        color:  #1338BE
    
    .card
        display: flex
        margin-top: 2em
        height: 280PX
        
        