.section1
    text-align: center

    p 
        margin: 1em
        font-size: 16px
        border: 1px 
        border-radius: 15px
        padding: 10px
        background-color: #8fa0f54a
        width: 14em  
        
    span
        color:  #1338BE
    

        .card-group
            display: flex
            width: 2em
            



            .card
                display: flex
                margin-top: 2em
                height: 280px

                img
                    width:100px
                    height: 100px
                    
                    
                
            
         
       
.section2
    background-color: #4845475f

    h2
        padding-top: 1em
        text-align: center
        justify-content: center
    .active
        width: 100%
        filter: op




.section3
    text-align: center
    margin-top: 45px


    span
        color: #1338BE


    .badge
        margin: 1em
        font-size: 16px
        border: 1px 
        border-radius: 15px
        padding: 10px
        background-color: #8fa0f54a
        width: 8em  
