header    //Image en background,il reste le filtre à appliquer
    background-image: url(../img/hero-bg.jpg)
    background-size: 100%
    // object-fit: cover
    background-repeat: no-repeat
    background-position: center
        
         
header h2 //Taille titre//
        font-size:3em
        font-weight:10em
        padding-top: 4em
        


header span //MolenGeek en bleu//
        color: #1338BE
       
header button  //Modification bouton//
        background-color: #1338BE
        border-radius:0.4em
        width:8em
        color: white
        font-size: 13px


    

     


    
    




    

