header
    background-image: url(../img/hero-bg.jpg)
    height: 20em
    background-size: 100%

     

header h2 p 
    justify-content: center
    display: flex
    
    
header button 
    background-color: #2832C2
    border-radius:0.4em
    width:8em
    color: white

    