div ul
    list-style: none
    display: flex
    gap: 2.2em
    justify-content: space-between
    padding-right:7em

.container-molengeek 
    display: flex
    width: content
    padding-bottom: 5px
    


.container-molengeek a 
  font-family: "Outfit", sans-serif
  font-optical-sizing: auto
  font-weight: 800
  font-style: normal
  font-size: 2em
  padding-left: 6em 
  
  

.navbar 
    height:3.4em

.navbar span
    color: blue
    