div ul
    list-style: none
    display: flex
    gap: 2.2em
    justify-content: space-between
    padding-right:14em
    padding-top:16px

.container-molengeek 
    display: flex
    width: content
    margin-top: 0%
    


.container-molengeek a 
  font-family: "Outfit", sans-serif
  font-optical-sizing: auto
  font-weight: 800
  font-style: normal
  font-size: 2em
  padding-left: 9em 
  
  

.navbar 
    height:4.6em
    

.navbar span
    color: blue
    